*{
    padding: 0;
    margin: 0;
}
.color1{
    color: #f8d899;}
#main{
    background-image:linear-gradient(#113946b8 0% 100%), url(../img/00006b51abe9e4a526f54349b354ff81.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
#main button{
    background-color: #113946;
    width: 50px;
    height: 50px; 
    border: 2px solid #f8d899;
    position: absolute;
    top: -27px;
    left: 10%;   
}
#main h1{
    background-color: #113946;
    border: 2px solid #f8d899;  
    color: #f8d899;
    font-size: 20px;
    position: absolute;
    height: 50px;
    top: -27px;
    left: calc(10% + 60px);  
}
#main .frame{
    border: 2px solid #f8d899;
    padding: 30px;
}
#main .qoute-container{
    background-color: #f8d899c8;
    color: #113946;
    min-height: 190px;
}
#main .container .frame .row img{
    width: 120px;
    margin: 5px;
    border-radius: 100%;
}